altgraph>=0.17.4
blinker>=1.8.2
cffi>=1.17.1
click>=8.1.7
cryptography>=43.0.3
Flask>=3.0.3
itsdangerous>=2.2.0
jaraco.classes>=3.4.0
jaraco.context>=6.0.1
jaraco.functools>=4.1.0
jeepney>=0.8.0
Jinja2>=3.1.4
keyring>=25.5.0
MarkupSafe>=3.0.2
more-itertools>=10.5.0
packaging>=24.1
pycparser>=2.22
pyinstaller>=6.11.0
pyinstaller-hooks-contrib>=2024.9
pymssql>=2.3.1
PyQt6>=6.7.1
PyQt6-Qt6>=6.7.3
PyQt6-WebEngine>=6.7.0
PyQt6-WebEngine-Qt6>=6.7.3
PyQt6-WebEngineSubwheel-Qt6>=6.7.3
PyQt6_sip>=13.8.0
SecretStorage>=3.3.3
setuptools>=75.2.0
Werkzeug>=3.0.6
